#user_input_search {
    width: 50em;
}

#displayIngredientsDiv {
    display:none;
}

#updatePropertiesForm{
  font-weight: normal;
}

#updateProperties{
    display: none;
}

#updatePropertiesHideButton{
    display:none;
}

#updateFormToggleButton{
    display:none;
}

.search_url_path {
    display: none;
}

table {
	margin-left:auto; 
    margin-right:auto;
}

h2 {
text-align:center;
}

th {
    border: 1px solid black;
    text-align: center;
}
  
td {
    text-align: center;
    font-weight: normal;
}
