#user_input_search {
    width: 50em;
}
#user_food_search {
    width:50em;
}

#displayIngredientsDiv {
    display:none;
}

#updatePropertiesForm{
  font-weight: normal;
}

#updateProperties{
    display: none;
}

#updatePropertiesHideButton{
    display:none;
}

#updateFormToggleButton{
    display:none;
}

#navBar {
    text-align: center;
}
ul {
    display: inline-block;
    list-style-type: none;
    margin: auto;
    /*overflow: hidden;*/
}

li {
    float: left;
    border-right: 1px solid white;
}

li a {
    display: block;
    color: darkgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}

li input {
    display: block;
    color: darkgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: white;
    border: none;
}

li input:hover {
    background-color: blue;
}
.search_url_path {
    display: none;
}

table {
	margin-left:auto; 
    margin-right:auto;
}

h2 {
text-align:center;
}

th {
    border: 1px solid black;
    text-align: center;
}
  
td {
    text-align: center;
    font-weight: normal;
}
