<ul>
  <li><a class= "home_nav" href="home.html" style="background-color: green;">Home</a></li>
  <li><a class= "serach_nav" href="search.html">Food & Recipes</a></li>
  <li><a class= "user_nav" href="user.html">Account Settings</a></li>
</ul>
<h3 align="center">Want to add more recipes to your plan?</h3>
<form align="center" action="search.html">
	<input type="submit" value="Search for more recipes!">
</form>
</div>
<h2 align="center">Welcome back, {{{user}}}!</h2>
<h2 align="center">Your diet selections...</h2>
	<div id="d_results">
		<!--query results go here-->
	</div>
<h2 align="center">Your recipes...</h2>
	<div id="r_results">
		<!--query results go here-->
	</div>