<form id="login_form" align="center" action="/login" method="post">
	Username: 
	<input name="email_address" type="email"><br>
	Password:
	<input name="password" type="password"><br>
	<input type="submit" value="Login">
</form>

<form id="new_user_form" align="center" method="GET" action="/user">
	<input type="submit" value="New User">
</form>