<form class="login_form" align="center" method="POST" action="http://flip3.engr.oregonstate.edu:7296/login">
	Username: 
	<input type="email"><br>
	Password:
	<input type="password"><br>
	<input type="submit" value="Login">
</form>
<form class="new_user_form" align="center" method="GET" action="http://flip3.engr.oregonstate.edu:7296/user">
	<input type="submit" value="New User">
</form>