<h3 align="center">Search for a food or recipe</h3>
<form align="center" action="" method="">
	<label> Type: <select name="food_or_recipe">
		<option value="food">Food</option>
		<option value="recipe">Recipe</option></select>
	</label>
	<label> Name: <input type="search" name="user_input_search"></label>	
	<input type="button" value="Search" onclick="search_foods_or_recipes()">
</form>
<div id="search_results">
	<!--Search results go here-->
</div>

<br>
<br>
<hr size="3" noshade>
<h3 align="center">Don't see a food? Add one!</h3>
<form align="center" method="POST">
	<label> Name: <input type="text"></label>	
	<input type="submit" value="Add Food!"><br>
	Dietary Properties:<br>
	<label> Does it contain meat? 
		<input type="radio" name="meat" value="yes">Yes </label>
		<input type="radio" name="meat" value="no">No </label>	
		<br>
	<label> Does it contain dairy?</label>
	<input type="radio" name="dairy" value="yes">Yes </label>
		<input type="radio" name="dairy" value="no">No </label>
		<br>	
	<label> Does it contain nuts?</label>
	<input type="radio" name="nuts" value="yes">Yes </label>
		<input type="radio" name="nuts" value="no">No </label>
		<br>	
	<label> Does it contain shellfish?</label>
		<input type="radio" name="shellfish" value="yes">Yes </label>
		<input type="radio" name="shellfish" value="no">No </label>
		<br>	
	<label> Does it contain carbs?</label>
		<input type="radio" name="carbs" value="yes">Yes </label>
		<input type="radio" name="carbs" value="no">No </label>
		<br>	
	<label> Does it contain animal products?</label>
		<input type="radio" name="animal" value="yes">Yes </label>
		<input type="radio" name="animal" value="no">No </label>
		<br>	
	<label> Does it contain gluten?</label>
		<input type="radio" name="gluten" value="yes">Yes </label>
		<input type="radio" name="gluten" value="no">No </label>
		<br>	
	<label> Does it contain soy?</label>
		<input type="radio" name="soy" value="yes">Yes </label>
		<input type="radio" name="soy" value="no">No </label>
		<br>
	<label> How many calories per ounce?</label>
		<label><input type="text" name="calories"> </label>		
</form>
<br>
<br>
<hr size="3" noshade>
<h3 align="center">Don't see a recipe? Build one!</h3>
<h4 align="center">Search for an ingredient to add to the recipe</h4>
<form align="center" method="POST">
	Ingredient Properties:<br>
	<label> Does it contain meat? 
		<input type="radio" name="meat" value="yes">Yes </label>
		<input type="radio" name="meat" value="no">No </label>	
		<br>
	<label> Does it contain dairy?</label>
	<input type="radio" name="dairy" value="yes">Yes </label>
		<input type="radio" name="dairy" value="no">No </label>
		<br>	
	<label> Does it contain nuts?</label>
	<input type="radio" name="nuts" value="yes">Yes </label>
		<input type="radio" name="nuts" value="no">No </label>
		<br>	
	<label> Does it contain shellfish?</label>
		<input type="radio" name="shellfish" value="yes">Yes </label>
		<input type="radio" name="shellfish" value="no">No </label>
		<br>	
	<label> Does it contain carbs?</label>
		<input type="radio" name="carbs" value="yes">Yes </label>
		<input type="radio" name="carbs" value="no">No </label>
		<br>	
	<label> Does it contain animal products?</label>
		<input type="radio" name="animal" value="yes">Yes </label>
		<input type="radio" name="animal" value="no">No </label>
		<br>	
	<label> Does it contain gluten?</label>
		<input type="radio" name="gluten" value="yes">Yes </label>
		<input type="radio" name="gluten" value="no">No </label>
		<br>	
	<label> Does it contain soy?</label>
		<input type="radio" name="soy" value="yes">Yes </label>
		<input type="radio" name="soy" value="no">No </label>
		<br>
	<input type="submit" value="Search!"><br>	
</form>
<br><br>
<div align="center">(Display search results here...)</div>
<br><br>
<h4 align="center">Type the ingredient name below!</h4>
<div align="center">
	<button onclick="addIngredient()">Add ingredient</button> <br>
</div>
<form class = "ingredients_form" align="center" method="POST">
	<div id = "ingredients"> 
		<div> Ingredient: <input type="text"></div> 
	</div> 
	<input type="submit" value="Add Recipe!">
</form>

<br><br><br>
<hr size="3" noshade>
<h3 align="center">Don't like a recipe? Delete it!</h3>
<form class = "ingredients_form" align="center" method="POST">
	<div id = "recipes"> 
		<div> Recipe Name: <input type="text"></div> 
	</div> 
	<input type="submit" value="Delete Recipe!">
</form>
</body>

<script>
	function addIngredient() {
		var x = document.createElement('div');
		x.innerHTML = "Ingredient: <input type ='text'> <br>";
		document.getElementById('ingredients').appendChild(x);
	};

</script>

<script>
/* This function gets the user's input on the search bar which we will use to search our DB with
We have a toggle between "Food" and "Recipe". We store the user's choice in a variable called
food_or_recipe which we will later use in search.js to deciper which table to search.
*/
function search_foods_or_recipes() {

    var food_or_recipe = document.getElementsByName("food_or_recipe")[0].value;
    var user_search_input = document.getElementsByName("user_input_search")[0].value;

    console.log("Search Type and User Search Input \n");
    console.log(food_or_recipe);
    console.log(user_search_input);
    //construct the URL and redirect to it
    window.location = '/search/' + encodeURI(food_or_recipe + '_' + user_search_input);   
}

</script>