<h2 align="center">User Settings</h2>
<form id="user_info" align="center">
	<label> First Name: <input id="first_name" type="text"></label><br>
	<label> Last Name: <input id="last_name" type="text"></label><br>
	<label> Birth Date: <input id="birth_date" type="date"></label><br>
	<label> Max Calories per Day: <input id="max_calories" type="number"></label><br>
	<label> Email Address: <input id="email_address" type="email"></label><br>			
	<label> Password: <input id="password" type="password"></label><br>
	Dietary Preferences:<br>
	<label> No Meat <input id="no_meat" type="checkbox"></label><br>	
	<label> No Dairy <input id="no_dairy" type="checkbox"></label><br>	
	<label> No Nuts <input id="no_nuts" type="checkbox"></label><br>	
	<label> No Shellfish <input id="no_shellfish" type="checkbox"></label><br>	
	<label> No Carbs <input id="no_carbs" type="checkbox"></label><br>	
	<label> No Animal Products <input id="no_animal_products" type="checkbox"></label><br>	
	<label> No Gluten <input id="no_gluten" type="checkbox"></label><br>	
	<label> No Soy <input id="no_soy" type="checkbox"></label><br>				
	<input type="submit" value="Save Changes" >
</form>

<form id="user_delete" align="center">
	<input type="submit" value="Delete Account">
</form >

<script src="/js/user_ajax.js"></script>