
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Jennifer Ludwig and Brian Dong">
		<title>Meal Planning Database</title>
		<link rel="stylesheet" href="/static/css/style.css" type="text/css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		{{#each jsscripts}}
    		<script src="/static/{{this}}"></script>
    	{{/each}}
	</head>
	<body>
		<h1 align="center">Meal Planning Database</h1>
		{{{body}}}
	</body>

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Jennifer Ludwig and Brian Dong">
		<title>Meal Planning Database</title>
		<link rel="stylesheet" href="/static/css/style.css" type="text/css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		{{#each jsscripts}}
    		<script src="/static/{{this}}"></script>
    	{{/each}}
	</head>
	<body>
		<a class="link" href="http://flip3.engr.oregonstate.edu:7296/home">Home</a>
		<a class="link" href="http://flip3.engr.oregonstate.edu:7296/search">Search</a>
		<a class="link" href="http://flip3.engr.oregonstate.edu:7296/user">Account Settings</a>
		<h1 align="center">Meal Planning Database</h1>
		{{{body}}}
	</body>

</html>
