<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Jennifer Ludwig and Brian Dong">
		<title>Meal Planning Database</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css">
	</head>
	<body>
		<a class="link" href="/home">Home</a>
		<a class="link" href="/search">Search</a>
		<a class="link" href="/user">Account Settings</a>
		<h1 align="center">Meal Planning Database</h1>
		{{{body}}}
	</body>
</html>